<html>

<head>
    <title>Q&A</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
</head>

<body>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        
    <script>
        $('#form-login-change').on('click', (e) => {
            $('#form-register').fadeOut();
            $('#form-login').fadeIn();
            e.preventDefault();
        });
        $('#form-register-change').on('click', (e) => {
            $('#form-register').fadeIn();
            $('#form-login').fadeOut();
            e.preventDefault();
        });
    </script>
</body>

</html>